.tab-bar-container {
    box-shadow: 0px 0px 1px 0px var(--shadow-nav-1), 0px 0px 2px 0px var(--shadow-nav-2); 
    position: fixed;
    bottom: 10px;
    width: 100vw;
    height: 76px;
    background: var(--text-button-color);
}

.tab-bar-container ul {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
    align-items: center;
}

.tab-bar-container li {
    flex: 1;
    display: flex;
    justify-content: center;
}

.button-link {
    border: none;
    background: none;
    padding: 8px;
    cursor: pointer;
}

.button-link svg {
    color: var(--font-color-nav);
}

.button-link.active svg {
    color: var(--font-color-nav-special);
}

.button-link p {
    font-size: 10px;
    line-height: 16px;
    color: var(--font-color-nav);
}

.button-link.active p {
    color: var(--font-color-nav-special);
}
