/* Bloque obligatorio para texto normal y negritas */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./assets/fonts/SourceSans3-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Bloque obligatorio para el texto en cursiva */
@font-face {
  font-family: 'Source Sans Pro';
  src: url('./assets/fonts/SourceSans3-Italic-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --paragraph-color: #1D2128;
  --text-button-color: #FFFFFF;
  --gradient: linear-gradient(90deg, #873AAA 0%, #DF007F 100%);

  --border-nav: #000000;
  --shadow-nav-1: #171A1F12;
  --shadow-nav-2: #171A1F1F;
  --font-color-nav: #565E6C;
  --font-color-nav-special: #CE0A86;

  --font-color-h1: #171A1F;
  --button-register-color: #FEF0F9;
  --background-img-color-1: #F1D1E8;
  --background-img-color-2: #FBAEBC;
  --background-img-border-color-1: #D26BB4;
  --background-img-border-color-2: #C90B2F;
  --font-user-name-color: #323842;
  --background-card-color: #DEE1E6;

  --box-imput-color: #BCC1CA;

  --background-search-box: #F3F4F6;
  --background-search-box-2: #f9f9fb;

  --main-paragraph-color: #9095A0;

  --google-background-signup: #FDF2F2;
  --google-color-signup: #DE3B40;
  --facebook-background-signup: #F1F8FD;
  --facebook-color-signup: #379AE6;

  --font: 'Source Sans Pro', sans-serif;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}